<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hastane Uygulaması</title>
    <!-- Bootstrap CSS dosyası -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Kendi CSS dosyanız -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Acısız Hospital Hasta Arayüzü</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='http://127.0.0.1:8000/Randevularim'>Randevularım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='http://127.0.0.1:8000/profilduzenle'>Profilim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='http://127.0.0.1:8000/SearchDoctor'>Doktorlar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        <h1 class="text-center">Hoşgeldiniz!</h1>
        <!-- Ana sayfa içeriği buraya gelecek -->
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <!-- Footer içeriği buraya gelecek -->
        </div>
    </footer>

    <!-- Bootstrap JS dosyaları (jQuery ve Popper.js içerir) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
